.container {
  border: 1px solid pink;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 1.3rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn_logout {
  border: none;
  padding: 5px;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
